<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../public/Styles/app.css">
</head>
<body>
    <div class="main main-login">
        <div class="login">
            <h2 class="login-header">Login</h2>
            <p class="login-error"><?= $_SESSION['message'] ?></p>
            <?php if($_SESSION['user'] == null): ?>
                <form action="/login/validateUser" method="post">
                    <div>
                        <input class="login-input" type="text" name="name" placeholder="Naam" required>
                    </div>
                    <div>
                        <input class="login-input" type="password" name="password" placeholder="Wachtwoord" required>
                    </div>
                    <div>
                        <input class="login-button" type="submit" value="Inloggen">
                    </div>
                </form>
                <hr class="login-line"/>
                <p class="login-split">of</p>
                <hr class="login-line"/>
                <a href="/login/register">
                    <button class="login-button">Registreren</button>
                </a>
            <?php else: ?>
                <a href="/login/logout">
                    <button class="login-button">Uitloggen</button>
                </a>
            <?php endif; ?>
        </div>
    </div>
</body>
</html>