<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../public/Styles/app.css">
</head>
<body>
    <div class="main main-login">
        <div class="login">
            <h2 class="login-header">Registreren</h2>
            <p class="login-error"><?= $_SESSION['message'] ?></p>
            <form action="/login/registerUser" method="post">
                <div>
                    <input class="login-input" type="text" name="name" placeholder="Gebruikersnaam" required>
                </div>
                <div>
                    <input class="login-input" type="password" name="password" placeholder="Wachtwoord" required>
                </div>
                <div>
                    <input class="login-input" type="password" name="repeatPassword" placeholder="Wachtwoord" required>
                </div>
                <div>
                    <button class="login-button">Registreren</button>
                </div>
            </form>
            <div class="login-back">
                <a href="/login">
                    Terug naar login
                </a>
            </div>
        </div>
    </div>
</body>
</html>