// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group breakpoints
////

/// The largest named breakpoint in which to include print as a media type
/// @type Keyword
$print-breakpoint: large !default;

$-zf-zero-breakpoint: small !default;

$-zf-breakpoints-keys: map-to-list($breakpoints, "keys");

@if nth(map-values($breakpoints), 1) != 0 {
	@error "The first key in the $breakpoints map must have a value of "0".";
} @else {
	$-zf-zero-breakpoint: nth(map-keys($breakpoints), 1);
}

/// Wraps a media query around the content you put inside the mixin. This mixin accepts a number of values:
///  - If a string is passed, the mixin will look for it in the `$breakpoints` map, and use a media query there.
///  - If a pixel value is passed, it will be converted to an em value using `$global-font-size` as the base.
///  - If a rem value is passed, the unit will be changed to em.
///  - If an em value is passed, the value will be used as-is.
///
/// If multiple values are passed, the mixin will generate a media query for each of them as described above.
/// Since the content is duplicated for each breakpoint, this mixin should only be used with properties that
/// change across breakpoints.
///
/// @param {Keyword|Number} $values... - Breakpoint name or px/rem/em value to process.
///
/// @output If the breakpoint is "0px and larger", outputs the content as-is. Otherwise, outputs the content wrapped in a media query.
@mixin breakpoint($values...) {
	@for $i from 1 through length($values) {
		$value: nth($values, $i);
		$str: breakpoint($value);
		$bp: index($-zf-breakpoints-keys, $value);
		$pbp: index($-zf-breakpoints-keys, $print-breakpoint);

		$old-zf-size: null;

		// Make breakpoint size available as a variable
		@if global-variable-exists(-zf-size) {
			$old-zf-size: $-zf-size;
		}
		$-zf-size: nth($value, 1) !global; // get the first value to account for `only` and `down` keywords

		// If $str is still an empty string, no media query is needed
		@if $str == "" {
			@content;
		} @else { // Otherwise, wrap the content in a media query
			// For named breakpoints less than or equal to $print-breakpoint, add print to the media types
			@if $bp != null and $bp <= $pbp {
				@media print, screen and #{$str} {
					@content;
				}
			} @else {
				@media screen and #{$str} {
					@content;
				}
			}
		}

		$-zf-size: $old-zf-size !global;
	}
}

$small-up: "";
$small-only: "";

@if map-has-key($breakpoints, small) {
	$small-up: screen;
	$small-only: unquote("screen and #{breakpoint(small only)}");
}

$medium-up: "";
$medium-only: "";

@if map-has-key($breakpoints, medium) {
	$medium-up: unquote("screen and #{breakpoint(medium)}");
	$medium-only: unquote("screen and #{breakpoint(medium only)}");
}

$large-up: "";
$large-only: "";

@if map-has-key($breakpoints, large) {
	$large-up: unquote("screen and #{breakpoint(large)}");
	$large-only: unquote("screen and #{breakpoint(large only)}");
}

$xlarge-up: "";
$xlarge-only: "";

@if map-has-key($breakpoints, xlarge) {
	$xlarge-up: unquote("screen and #{breakpoint(xlarge)}");
	$xlarge-only: unquote("screen and #{breakpoint(xlarge only)}");
}

$xxlarge-up: "";

@if map-has-key($breakpoints, xxlarge) {
	$xxlarge-up: unquote("screen and #{breakpoint(xxlarge)}");
}
