<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../public/Styles/app.css">
    <script src="../public/Javascripts/jquery-3.3.1.min.js"></script>
    <script src="../public/Javascripts/Modal.js"></script>
</head>
<body>
<div class="main">
    <div class="list-container">
        <div class="nav">
            <a href="/" class="nav-item">Lijstoverzicht</a>
            <div class="nav-line"></div>
            <a href="/login" class="nav-item">Uitloggen</a>
        </div>
        <div class="list-header">
            <h2>Lijstoverzicht</h2>
            <div id="modal-show" class="list-create">Lijst maken</div>
        </div>
        <p class="list-error"><?= $_SESSION['message']; ?></p>
        <?php if($this->lists ?? null): ?>
        <div class="list">
            <?php foreach ($this->lists as $list): ?>
                <div class="list-row" data-id="<?= $list->getId(); ?>">
                    <div class="list-name">
                        <a href="/list/<?= $list->getId(); ?>"><?= $list->getName(); ?></a>
                    </div>
                    <div class="list-buttons">
                        <div class="list-edit">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 348.882 348.882" xml:space="preserve">
                                <g>
                                    <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                        c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                        c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                        C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                        L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                        c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                                    <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                        c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                        s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                        c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                                </g>
                            </svg>
                            <p>Bewerken</p>
                        </div>
                        <div class="list-delete">
                            <a href="/list/delete/<?php echo $list->getId(); ?>">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 268.476 268.476" xml:space="preserve">
                                    <g id="Delete__x2F__Trash">
                                        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M63.119,250.254c0,0,3.999,18.222,24.583,18.222h93.072
                                            c20.583,0,24.582-18.222,24.582-18.222l18.374-178.66H44.746L63.119,250.254z M170.035,98.442c0-4.943,4.006-8.949,8.949-8.949
                                            c4.943,0,8.95,4.006,8.95,8.949l-8.95,134.238c0,4.943-4.007,8.949-8.949,8.949c-4.942,0-8.949-4.007-8.949-8.949L170.035,98.442z
                                             M125.289,98.442c0-4.943,4.007-8.949,8.949-8.949c4.943,0,8.949,4.006,8.949,8.949v134.238c0,4.943-4.006,8.949-8.949,8.949
                                            c-4.943,0-8.949-4.007-8.949-8.949V98.442z M89.492,89.492c4.943,0,8.949,4.006,8.949,8.949l8.95,134.238
                                            c0,4.943-4.007,8.949-8.95,8.949c-4.942,0-8.949-4.007-8.949-8.949L80.543,98.442C80.543,93.499,84.55,89.492,89.492,89.492z
                                             M218.36,35.811h-39.376V17.899C178.984,4.322,174.593,0,161.086,0L107.39,0C95.001,0,89.492,6.001,89.492,17.899v17.913H50.116
                                            c-7.914,0-14.319,6.007-14.319,13.43c0,7.424,6.405,13.431,14.319,13.431H218.36c7.914,0,14.319-6.007,14.319-13.431
                                            C232.679,41.819,226.274,35.811,218.36,35.811z M161.086,35.811h-53.695l0.001-17.913h53.695V35.811z"/>
                                    </g>
                                </svg>
                                <p>Verwijderen</p>
                            </a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <p class="list-none">Je hebt geen lijsten</p>
        <?php endif; ?>
        </div>
    </div>
    <div id="modal-create" class="modal-background modal-hidden">
        <form class="modal" action="/list/add" method="post">
            <h2 class="modal-header">Lijst aanmaken</h2>
            <div>
                <input class="modal-input" type="text" name="name" maxlength="35">
            </div>
            <div>
                <button class="modal-button">Aanmaken</button>
            </div>
            <hr class="modal-line">
            <div id="modal-close" class="modal-close">Terug naar het overzicht</div>
        </form>
    </div>
    <div id="edit-list" class="modal-background modal-hidden">
        <form class="modal" action="/list/edit" method="post">
            <h2 class="modal-header">Lijst bewerken</h2>
            <div>
                <input class="modal-input" type="hidden" name="id">
            </div>
            <div>
                <input class="modal-input" type="text" name="name" maxlength="35">
            </div>
            <div>
                <button class="modal-button">Wijzigen</button>
            </div>
            <hr class="modal-line">
            <div id="edit-close" class="modal-close">Terug naar het overzicht</div>
        </form>
    </div>
</div>
</body>
</html>