<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lijst</title>
    <link rel="stylesheet" type="text/css" href="../public/Styles/app.css">
    <script src="../public/Javascripts/jquery-3.3.1.min.js"></script>
    <script src="../public/Javascripts/Modal.js"></script>
    <script src="../public/Javascripts/Filter.js"></script>
    <script src="../public/Javascripts/ItemDetail.js"></script>
</head>
<body>
<div class="main">
    <div class="item-container">
        <div class="nav">
            <a href="/" class="nav-item">Lijstoverzicht</a>
            <div class="nav-line"></div>
            <a href="/login" class="nav-item">Uitloggen</a>
        </div>
        <?php if($this->user): ?>
        <div class="item-header">
            <h2><?= $_SESSION['list']; ?></h2>
            <div id="modal-show" class="item-create">Item maken</div>
        </div>
        <div class="item-subheader">
            <form action="/item/filter" class="item-filter" method="post">
                <select name="filterOption">
                    <option value="">-- Geen filter --</option>
                    <option value="name-ASC" <?php if ($_SESSION['filter'] == "name-ASC") echo 'selected'; ?>>Naam A-Z</option>
                    <option value="name-DESC" <?php if ($_SESSION['filter'] == "name-DESC") echo 'selected'; ?>>Naam Z-A</option>
                    <option value="edited-DESC" <?php if ($_SESSION['filter'] == "edited-DESC") echo 'selected'; ?>>Aangepast nieuw-oud</option>
                    <option value="edited-ASC" <?php if ($_SESSION['filter'] == "edited-ASC") echo 'selected'; ?>>Aangepast oud-nieuw</option>
                    <option value="endDate-DESC" <?php if ($_SESSION['filter'] == "endDate-DESC") echo 'selected'; ?>>Einddatum nieuw-oud</option>
                    <option value="endDate-ASC" <?php if ($_SESSION['filter'] == "endDate-ASC") echo 'selected'; ?>>Einddatum oud-nieuw</option>
                </select>
            </form>
            <p class="item-error"><?= $_SESSION['message']; ?></p>
        </div>
        <div class="item">
            <?php if($this->items): ?>
                <?php foreach ($this->items as $item): ?>
                <div class="item-row <?php if ($item->getCompleted()){ echo "item-done"; } else if($item->getEndDate() < date('d-m-Y H:i')){ echo "item-expired"; } ?>" data-id="<?= $item->getId(); ?>">
                    <a href="/item/complete/<?= $item->getId() ?>"><div class="item-complete <?php if($item->getCompleted()){ echo "item-completed"; } ?>"></div></a>
                    <div class="item-name"><p><?= $item->getName(); ?></p></div>
                    <div class="item-buttons">
                        <div class="item-edit">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 348.882 348.882" xml:space="preserve">
                            <g>
                                <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                    c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                    c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                    C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                    L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                    c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                                <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                    c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                    s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                    c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                            </g>
                        </svg>
                            <p>Bewerken</p>
                        </div>
                        <div class="item-delete">
                            <a href="/item/delete/<?= $item->getId() ?>">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 268.476 268.476" xml:space="preserve">
                                <g id="Delete__x2F__Trash">
                                    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M63.119,250.254c0,0,3.999,18.222,24.583,18.222h93.072
                                        c20.583,0,24.582-18.222,24.582-18.222l18.374-178.66H44.746L63.119,250.254z M170.035,98.442c0-4.943,4.006-8.949,8.949-8.949
                                        c4.943,0,8.95,4.006,8.95,8.949l-8.95,134.238c0,4.943-4.007,8.949-8.949,8.949c-4.942,0-8.949-4.007-8.949-8.949L170.035,98.442z
                                         M125.289,98.442c0-4.943,4.007-8.949,8.949-8.949c4.943,0,8.949,4.006,8.949,8.949v134.238c0,4.943-4.006,8.949-8.949,8.949
                                        c-4.943,0-8.949-4.007-8.949-8.949V98.442z M89.492,89.492c4.943,0,8.949,4.006,8.949,8.949l8.95,134.238
                                        c0,4.943-4.007,8.949-8.95,8.949c-4.942,0-8.949-4.007-8.949-8.949L80.543,98.442C80.543,93.499,84.55,89.492,89.492,89.492z
                                         M218.36,35.811h-39.376V17.899C178.984,4.322,174.593,0,161.086,0L107.39,0C95.001,0,89.492,6.001,89.492,17.899v17.913H50.116
                                        c-7.914,0-14.319,6.007-14.319,13.43c0,7.424,6.405,13.431,14.319,13.431H218.36c7.914,0,14.319-6.007,14.319-13.431
                                        C232.679,41.819,226.274,35.811,218.36,35.811z M161.086,35.811h-53.695l0.001-17.913h53.695V35.811z"/>
                                </g>
                            </svg>
                                <p>Verwijderen</p>
                            </a>
                        </div>
                    </div>
                    <div class="item-collapsed">
                        <div></div>
                        <p>Uitbreiden</p>
                    </div>
                </div>
                <div class="item-detail <?php if ($item->getCompleted()){ echo "item-done"; } ?>" data-id="<?= $item->getId(); ?>">
                    <p class="item-author">Gemaakt door: <?= $this->author ?></p>
                    <p class="item-description"><?= $item->getDescription(); ?></p>
                    <div id="item-start" class="item-date">
                        <svg enable-background="new 0 0 96 96" height="96px" id="clock" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M48,4C23.7,4,4,23.7,4,48c0,24.301,19.7,44,44,44c24.301,0,44-19.699,44-44C92,23.7,72.301,4,48,4z M48,84  c-19.882,0-36-16.118-36-36s16.118-36,36-36s36,16.118,36,36S67.882,84,48,84z"/>
                            <path d="M52,46.343V24c0-2.209-1.791-4-4-4s-4,1.791-4,4v24c0,0.009,0.003,0.018,0.003,0.027c0.001,0.253,0.026,0.506,0.076,0.755  c0.024,0.123,0.069,0.234,0.104,0.354c0.039,0.132,0.069,0.266,0.122,0.395c0.058,0.138,0.136,0.264,0.208,0.394  c0.054,0.1,0.097,0.2,0.16,0.295c0.147,0.221,0.314,0.428,0.501,0.613l11.311,11.312c1.562,1.562,4.097,1.562,5.658,0  c1.562-1.562,1.562-4.097,0-5.656L52,46.343z"/>
                        </svg>
                        <p><?= $item->getStartDate(); ?></p>
                    </div>
                    <div id="item-end" class="item-date">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="450px" height="450px" viewBox="0 0 450 450" xml:space="preserve">
                            <path d="M87.945,75.913c-1.877-7.41-9.408-11.893-16.818-10.018c-7.413,1.879-11.897,9.409-10.019,16.821l90.439,356.838
                                c1.589,6.271,7.224,10.446,13.409,10.446c1.127,0,2.271-0.139,3.413-0.428c7.409-1.877,11.895-9.409,10.017-16.819L87.945,75.913z
                                "/>
                            <path d="M388.98,176.419c-14.739-54.423-29.492-108.842-44.234-163.265c-1.598-5.891-4.399-12.21-14.929-12.842
                            C246.929-5.691,192.503,76.854,109.614,70.85c-6.541-0.806-10.745,2.6-9.148,8.491c14.743,54.422,29.372,108.877,44.233,163.266
                            c2.385,8.729,8.388,12.035,14.931,12.842c82.887,6.004,137.315-76.541,220.205-70.537
                            C386.375,185.716,390.577,182.311,388.98,176.419z M323.934,20.857c4.066,15.015,8.138,30.029,12.204,45.044
                            c-17.436,0.574-32.825,4.092-49.132,10.203c-4.065-15.015-8.137-30.03-12.202-45.044C291.109,24.951,306.498,21.43,323.934,20.857
                            z M153.13,189.197c-4.627-17.059-9.246-34.122-13.868-51.182c18.328-0.531,34.591-4.503,51.602-11.227
                            c-4.07-15.015-8.138-30.03-12.204-45.045c16.629-7.433,32.314-16.332,48.022-25.523c4.066,15.014,8.138,30.029,12.205,45.044
                            c-15.709,9.19-31.395,18.092-48.023,25.524c4.623,17.06,9.244,34.122,13.866,51.182
                            C187.718,184.693,171.457,188.665,153.13,189.197z M217.114,223.674c-4.129-15.234-8.256-30.47-12.384-45.706
                            c16.513-7.377,32.087-16.201,47.683-25.327c4.128,15.236,8.256,30.471,12.383,45.707
                            C249.202,207.475,233.626,216.297,217.114,223.674z M252.75,152.445c-4.619-17.061-9.242-34.122-13.863-51.183
                            c15.706-9.17,31.403-17.945,48.119-25.157c4.624,17.06,9.246,34.121,13.867,51.181C284.16,134.5,268.458,143.274,252.75,152.445z
                             M313.545,172.876c-4.129-15.234-8.256-30.47-12.385-45.706c16.211-6.045,31.521-9.521,48.843-10.086
                            c4.129,15.236,8.257,30.471,12.386,45.705C345.066,163.355,329.754,166.83,313.545,172.876z"/>
                        </svg>
                        <p><?= $item->getEndDate(); ?></p>
                    </div>
                    <div class="item-date">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 348.882 348.882" style="enable-background:new 0 0 348.882 348.882;" xml:space="preserve">
                            <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                                c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                                c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                                C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                                L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                                c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                            <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                                c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                                s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                                c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                        </svg>
                        <p><?= $item->getEdited(); ?></p>
                    </div>
                </div>
                <?php endforeach; ?>
            <?php else: ?>
                <p class="item-none">Je hebt geen items</p>
            <?php endif; ?>
        </div>
        <?php else: ?>
        <div class="item-wrong">
            <p>Het lijkt erop dat je geen lijst hebt geselecteerd</p>
            <a href="/">Klik hier om terug te gaan naar het overzicht</a>
        </div>
        <?php endif; ?>
    </div>
    <div id="modal-create" class="modal-background modal-hidden">
        <form class="modal" action="/item/add" method="post">
            <h2 class="modal-header">Lijst aanmaken</h2>
            <div>
                <input class="modal-input" type="text" name="name" maxlength="35" placeholder="Titel">
                <textarea class="modal-input modal-textarea" rows="4" name="description" placeholder="Omschrijving"></textarea>
                <input class="modal-input" type="datetime-local" name="startDate" placeholder="Start datum">
                <input class="modal-input" type="datetime-local" name="endDate" placeholder="Eind datum">
            </div>
            <div>
                <button class="modal-button">Aanmaken</button>
            </div>
            <hr class="modal-line">
            <div id="modal-close" class="modal-close">Terug naar het overzicht</div>
        </form>
    </div>
    <div id="edit-item" class="modal-background modal-hidden">
        <form class="modal" action="/item/edit" method="post">
            <h2 class="modal-header">Item bewerken</h2>
            <div>
                <input class="modal-input" type="hidden" name="id">
            </div>
            <div>
                <input class="modal-input" type="text" name="name" maxlength="35" placeholder="Titel">
                <textarea class="modal-input modal-textarea" rows="4" name="description" placeholder="Omschrijving"></textarea>
                <input class="modal-input" type="datetime-local" name="startDate" placeholder="Start datum">
                <input class="modal-input" type="datetime-local" name="endDate" placeholder="Eind datum">
            </div>
            <div>
                <button class="modal-button">Wijzigen</button>
            </div>
            <hr class="modal-line">
            <div id="edit-close" class="modal-close">Terug naar het overzicht</div>
        </form>
    </div>
</div>
</body>
</html>