.item {
	margin-bottom: 50px;
	@include breakpoint(medium) {
		margin-bottom: 0;
		max-height: 400px;
		min-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	@include breakpoint(large){
		max-height: 500px;
		min-height: 500px;
	}

	&-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		padding: 15px;

		@include breakpoint(medium){
			top: 10%;
			bottom: auto;
			right: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 600px;
			padding: 30px;
			box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
		}

		@include breakpoint(large) {
			width: 800px;
			padding: 50px;
		}
	}

	&-row {
		padding: 0 10px;
		background: #ffffff;
		border-bottom: 1px solid #afafaf;
		&:first-child {
			border-top: 1px solid #afafaf;
		}
		&:hover {
			background-color: #f0f0f0;
		}
		@include breakpoint(medium) {
			max-height: 60px;
			min-height: 60px;
		}
	}

	&-detail {
		display: none;
		padding: 10px;
		border-bottom: 1px solid #afafaf;
	}

	&-header {
		position: relative;
		margin-bottom: 20px;

		h2 {
			display: block;
			margin: 0 0 20px;
			font-family: 'Oswald', sans-serif;
			@include breakpoint(medium) {
				display: inline-block;
				margin: 0;
			}
		}
	}

	&-subheader {
		margin-bottom: 15px;
	}

	&-create {
		display: block;
		background: #ed143d;
		width: 100%;
		height: 40px;
		color: #ffffff;
		font-family: Montserrat, sans-serif;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		cursor: pointer;
		@include breakpoint(medium) {
			width: 200px;
			float: right;
			display: inline-block;
		}
		&:hover {
			background-color: #B21331;
		}
	}

	&-error {
		font-family: 'Montserrat', sans-serif;
		color: crimson;
		font-size: 14px;
		height: auto;
		@include breakpoint(medium) {
			margin: 10px 0;
			height: 18px;
		}
	}

	&-name {
		display: inline-block;
		vertical-align: middle;
		padding: 0 5px;
		cursor: pointer;

		@include breakpoint(medium){
			padding: 0;
			min-width: 345px;
			max-width: 345px;
			overflow: hidden;
		}

		@include breakpoint(large){
			min-width: 505px;
			max-width: 505px;
		}

		p {
			font-size: 18px;
			font-family: Montserrat, sans-serif;
			color: #000000;
			display: block;
			text-decoration: none;
			@include breakpoint(medium) {
				padding: 18px 5px;
				margin: 0;
			}
		}
	}

	&-author {
		margin: 0;
		font-size: 14px;
		font-family: Montserrat, sans-serif;
	}

	&-description {
		font-size: 16px;
		font-family: Montserrat, sans-serif;
		margin: 10px 0 0;
	}

	&-date {
		display: inline-block;
		font-size: 14px;
		font-family: Montserrat, sans-serif;
		margin: 15px 15px 0 0;
		
		&:last-child {
			@include breakpoint(medium) {
				float: right;
			}
		}

		svg {
			width: 30px;
			height: 30px;
			display: inline-block;
			vertical-align: middle;
		}

		p {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}

	&-buttons {
		display: block;
		margin-bottom: 10px;
		@include breakpoint(medium) {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	&-edit,
	&-delete {
		display: inline-block;
		background-color: #ed143d;
		width: 49%;
		height: 40px;
		cursor: pointer;


		@include breakpoint(medium) {
			background-color: transparent;
			width: auto;
			vertical-align: middle;
		}

		a {
			color: transparent;
		}

		p {
			display: inline-block;
			margin: 0;
			height: 40px;
			vertical-align: middle;
			color: #ffffff;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			@include breakpoint(medium) {
				display: none;
			}
		}

		svg {
			width: 30px;
			cursor: pointer;
			margin: 5px 0 0 5px;
			fill: #ffffff;
			@include breakpoint(medium) {
				fill: #000000;
				margin: 0;
				width: 40px;
			}

			@include breakpoint(medium) {
				&:hover {
					fill: #474747;
				}
			}
		}
	}

	&-delete {
		float: right;
		@include breakpoint(medium) {
			float: none;
		}
	}

	&-complete {
		position: relative;
		width: 35px;
		height: 35px;
		display: inline-block;
		border: 2px solid #000000e0;
		vertical-align: middle;

		&:hover {
			background-color: #8080802b;

			&:after {
				content: "";
				position: absolute;
				width: 23px;
				height: 12px;
				border-bottom: 3px solid #bebebe;
				border-left: 3px solid #bebebe;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-50deg);
			}

		}
	}

	&-completed {
		&:after {
			content: "";
			position: absolute;
			width: 23px;
			height: 12px;
			border-bottom: 3px solid #000000;
			border-left: 3px solid #000000;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-50deg);
		}
	}

	&-collapsed {
		display: inline-block;
		cursor: pointer;
		background-color: #ed143d;
		width: 100%;
		height: 40px;
		margin-bottom: 15px;
		text-align: center;
		@include breakpoint(medium) {
			background-color: transparent;
			width: auto;
			height: auto;
			margin-bottom: 0;
		}
		div {
			position: relative;
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
			padding: 20px 0;
			margin-right: 10px;
			@include breakpoint(medium) {
				padding: 30px 0;
				margin-right: 0;
			}

			&:after {
				content: "";
				width: 15px;
				height: 15px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				border-right: 2px solid #ffffff;
				border-top: 2px solid #ffffff;
				transition: all .2s;
				@include breakpoint(medium) {
					border-right: 2px solid #000000;
					border-top: 2px solid #000000;
				}
			}
		}
		p {
			font-size: 16px;
			font-family: Montserrat, sans-serif;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			color: #ffffff;
			@include breakpoint(medium) {
				display: none;
				color: #000000;
			}
		}
	}

	&-expand {
		div {
			&:after {
				top: 40%;
				transform: translate(-50%, -50%) rotate(135deg);
			}
		}

	}

	&-none {
		font-size: 16px;
		font-family: Montserrat, sans-serif;
	}

	&-wrong {
		font-size: 16px;
		font-family: Montserrat, sans-serif;
	}

	&-done {
		background-color: #ebebeb;;
		p {
		 color: #828282;
		}

		svg {
			fill: #828282;
		}
		.item-complete {
			border-color: #828282;
			&:after {
				border-color: #828282;
			}
		}

		.item-collapsed div:after {
			border-color: #828282;
		}

		.item-delete,
		.item-edit,
		.item-collapsed {
			background-color: #cdcdcd;
			@include breakpoint(medium) {
				background-color: transparent;
			}
		}

	}

	&-expired {
		background-color: #ed143d7d;
		&:hover {
			background-color: rgba(220, 20, 60, 0.84);
		}
	}

	&-filter {
		select {
			width: 100%;
			font-size: 16px;
			font-family: Montserrat, sans-serif;
			@include breakpoint(medium) {
				float: right;
				width: 200px;
			}
		}
	}
}