.list {
	margin-bottom: 50px;
	@include breakpoint(medium) {
		margin-bottom: 0;
		max-height: 400px;
		min-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	@include breakpoint(large){
		max-height: 500px;
		min-height: 500px;
	}

	&-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #ffffff;
		padding: 20px;

		@include breakpoint(medium){
			top: 10%;
			bottom: auto;
			right: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 600px;
			padding: 30px;
			box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
		}

		@include breakpoint(large) {
			width: 800px;
			padding: 50px;
		}
	}

	&-row {
		padding: 0 10px;
		background: #ffffff;
		border-bottom: 1px solid #afafaf;
		&:first-child {
			border-top: 1px solid #afafaf;
		}
		&:hover {
			background-color: #f0f0f0;
		}
		@include breakpoint(medium) {
			padding: 0;
			max-height: 60px;
			min-height: 60px;
		}
	}

	&-name {
		display: block;
		vertical-align: bottom;

		@include breakpoint(medium){
			display: inline-block;
			min-width: 430px;
			max-width: 430px;
			overflow: hidden;
		}

		@include breakpoint(large){
			min-width: 575px;
			max-width: 575px;
		}

		a {
			padding: 20px 0 20px 0;
			font-size: 18px;
			font-family: Montserrat, sans-serif;
			color: #000000;
			display: block;
			text-decoration: none;
			@include breakpoint(medium) {
				padding: 20px 10px 20px 15px;
			}
		}
	}

	&-buttons {
		display: block;
		margin-bottom: 10px;
		@include breakpoint(medium) {
			display: inline-block;
			margin-bottom: 0;
		}
	}
	
	&-edit,
	&-delete {
		display: inline-block;
		margin-bottom: 8px;
		background-color: #ed143d;
		width: 150px;
		height: 40px;
		cursor: pointer;

		@include breakpoint(medium) {
			background-color: transparent;
			width: auto;
			margin-bottom: 13px;
		}

		a {
			color: transparent;
		}

		p {
			display: inline-block;
			margin: 0;
			height: 40px;
			vertical-align: middle;
			color: #ffffff;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			@include breakpoint(medium) {
				display: none;
			}
		}

		svg {
			width: 30px;
			cursor: pointer;
			margin: 5px 0 0 5px;
			fill: #ffffff;
			@include breakpoint(medium) {
				fill: #000000;
				margin: 0;
				width: 40px;
			}

			@include breakpoint(medium) {
				&:hover {
					fill: #474747;
				}
			}
		}
	}

	&-delete {
		float: right;
		@include breakpoint(medium) {
			float: initial;
		}
	}

	&-header {
		position: relative;
		margin-bottom: 25px;

		h2 {
			display: block;
			margin: 0 0 20px;
			font-family: 'Oswald', sans-serif;
			@include breakpoint(medium) {
				display: inline-block;
				margin: 0;
			}
		}
	}

	&-create {
		display: block;
		background: #ed143d;
		width: 100%;
		height: 40px;
		color: #ffffff;
		font-family: Montserrat, sans-serif;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		cursor: pointer;
		@include breakpoint(medium) {
			width: 200px;
			float: right;
			display: inline-block;
		}
		&:hover {
			background-color: #B21331;
		}
	}
	&-error {
		font-family: 'Montserrat', sans-serif;
		color: crimson;
		font-size: 14px;
		height: auto;
		@include breakpoint(medium) {
			height: 18px;
		}
	}

	&-none {
		font-family: Montserrat, sans-serif;
		font-size: 16px;
	}
}