.login {
	position: absolute;
	width: 300px;
	height: auto;
	top: 15%;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
	background: #ffffff;
	margin-bottom: 50px;
	@include breakpoint(medium){
		width: 400px;
	}

	&-input {
		width: 250px;
		height: 40px;
		padding: 10px;
		margin-bottom: 20px;
		outline: 0;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid #b1b1b1;
		@include breakpoint(medium) {
			width: 300px;
		}

		&:hover,
		&:focus {
			border: 1px solid #000000;
		}
	}

	&-button {
		width: 250px;
		height: 40px;
		border: 0;
		outline: 0;
		padding: 10px;
		margin: 30px 0;
		font-family: 'Montserrat', sans-serif;
		background-color: #ed143d;
		color: #ffffff;
		cursor: pointer;
		@include breakpoint(medium){
			width: 300px;
		}
		
		&:hover {
			background-color: #B21331;
		}
	}

	&-header {
		margin: 30px 0;
		font-family: 'Oswald', sans-serif;
	}

	&-split {
		font-family: 'Montserrat', sans-serif;
		display: inline-block;
		width: 50px;
		margin: 0;
	}

	&-line {
		display: inline-block;
		width: 100px;
	}

	&-back {
		margin-bottom: 30px;
		a {
			font-size: 14px;
			font-family: 'Montserrat', sans-serif;
			color: #000000;
			text-decoration: none;
			&:hover {
				color: #ed143d;
			}
		}
	}

	&-error {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #ed143d;
		height: 15px;
	}
}