.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: #ffffff;
	text-align: center;
	@include breakpoint(medium) {
		width: 400px;
	}

	&-background {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #00000094;
	}

	&-header {
		margin: 25px 0 25px;
		font-family: 'Oswald', sans-serif;
	}

	&-input {
		width: 200px;
		height: 40px;
		padding: 10px;
		margin-bottom: 20px;
		outline: 0;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid #b1b1b1;
		&:hover,
		&:focus {
			border: 1px solid #000000;
		}
		@include breakpoint(medium) {
			width: 300px;
		}
	}

	&-textarea {
		margin-bottom: 17px;
		height: 100px;
	}

	&-button {
		width: 200px;
		height: 40px;
		border: 0;
		outline: 0;
		padding: 10px;
		margin: 10px 0;
		font-family: 'Montserrat', sans-serif;
		background-color: #ed143d;
		color: #ffffff;
		cursor: pointer;
		&:hover {
			background-color: #B21331;
		}
		@include breakpoint(medium) {
			width: 300px;
		}
	}

	&-line {
		width: 250px;
		border: none;
		border-top: 1px solid #e1e1e1;
		margin: 20px;
		@include breakpoint(medium) {
			width: 350px;
		}
	}

	&-close {
		height: 40px;
		border: 0;
		outline: 0;
		padding: 10px;
		margin: 30px auto 50px;
		font-family: 'Montserrat', sans-serif;
		background-color: #ed143d;
		color: #ffffff;
		width: 200px;
		cursor: pointer;
		font-size: 14px;
		&:hover {
			background-color: #B21331;
		}
		@include breakpoint(medium) {
			width: 300px;
		}
	}

	&-hidden {
		display: none;
	}
}