.nav {
	padding: 0 0 15px;
	border-bottom: 1px solid #8080805c;
	margin: 0 0 30px;

	&-item {
		font-size: 16px;
		font-family: Montserrat, sans-serif;
		text-decoration: none;
		color: #000000;
		&:first-child {
			margin: 0 10px 0 0;
		}

		&:last-child {
			margin: 0 0 0 10px;
		}
	}

	&-line {
		display: inline-block;
		height: 19px;
		border-left: 1px solid #8080805c;
		vertical-align: bottom;
	}
}