.grid__row {
	@each $bp in $breakpoint-classes {
		&-start {
			justify-content: flex-start;
			text-align: start;
		}

		&-center {
			justify-content: center;
			text-align: center;
		}

		&-end {
			justify-content: flex-end;
			text-align: end;
		}

		&-around {
			justify-content: space-around;
		}

		&-between {
			justify-content: space-between;
		}

		&-top {
			align-items: flex-start;
		}

		&-middle {
			align-items: center;
		}

		&-bottom {
			align-items: flex-end;
		}

		// Make alignment classes available for all individual breakpoints
		&--#{$bp} {
			@include breakpoint($bp) {
				&-start {
					justify-content: flex-start;
					text-align: start;
				}

				&-center {
					justify-content: center;
					text-align: center;
				}

				&-end {
					justify-content: flex-end;
					text-align: end;
				}

				&-around {
					justify-content: space-around;
				}

				&-between {
					justify-content: space-between;
				}

				&-top {
					align-items: flex-start;
				}

				&-middle {
					align-items: center;
				}

				&-bottom {
					align-items: flex-end;
				}
			}
		}
	}
}