.main {
	width: 100%;
	height: 100%;
	background-image: url("../Assets/office.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
		@include breakpoint(medium) {
			min-height: 660px;
		}

		@include breakpoint(large) {
			min-height: 810px;
		}
	&-login {
		min-height: 640px;
	}
}